<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>발로란트 적성검사</title>
  <!--  <link rel="stylesheet" href="css/nav.css"/>
    <link rel="stylesheet" href="css/main.css"/>-->
  <link rel="stylesheet" th:href="@{/css/vbti/main.css}">
  <link rel="stylesheet" th:href="@{/css/vbti/nav.css}">
</head>
<body>
<div class="main_header_wrap">
      <span id="main_logo_text"
      ><a id="logo_link" th:href="@{/}">EGG.GG</a></span
      >
  <span id="clock">00:00:00</span>
</div>
<nav>
  <ul>
    <li><a th:href="@{/}">HOME</a></li>
    <li><a href="board.html">NOTICE</a></li>
    <li><a th:href="@{/vbti/test}">TEST</a></li>
    <li><a href="madmovie.html">MAD MOVIE</a></li>
    <li><a
        class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/MyPage}">My Page</a> </li>
    <li><a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a><a
        class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a> </li>
    <li sec:authorize="isAnonymous()"><a th:href="@{/user/signup}">회원가입</a></li>
  </ul>
</nav>

<th:block layout:fragment="content">
</th:block>

<footer id="foot">
  <p>제작 : 고강찬</p>
  <address>E-Mail : VBTI@gmail.com</address>
  <p>Copyright &copy; All right reserved</p>
</footer>

<script type="application/javascript"  th:src="@{https://code.jquery.com/jquery-3.6.3.js}"></script>
<script type="application/javascript" th:src="@{/js/vbti/main.js}" charset="UTF-8"></script>
<script type="application/javascript" th:src="@{/js/vbti/clock.js}" charset="UTF-8"></script>
<script  type="application/javascript" th:src="@{/js/vbti/chncolor.js}" charset="UTF-8"></script>

<!-- 회원가입시 닉네임 + 축하 메세지 -->
<script th:if="${session.sendNickName != null}" th:inline="javascript">
  alert([[${session.sendNickName}]] + '님 회원가입을 축하드립니다.');
</script>
</body>
</html>
