#qna {
  margin-top: 100px;
  display: none;
  width: 50%;
  border: #ff9ca4 5px solid;
  color: #ff4454;
  font-weight: bold;
  border-radius: 3px;
}

.qBox {
  text-align: left;
  border-radius: 20px;
  font-size: 24px;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}
.answerBox{
text-align: center;
}

.answerList {
  text-align: left;
  border: 3px salmon solid;
  border-radius: 5px;
  display: block;
  width: 70%;
  font-size: 20px;
  margin: 50px auto;
  background-color: #ece8e1;
  color: #ff4454;

}

.answerList:hover,
.answerList:focus {
  background-color: #ff9ca4;
  color: aliceblue;
  /*color: whitesmoke;*/
}


.status {
  height: 10px;
  width: 100%;
  background-color: white;

}

.statusBar {
  height: 100%;
  /* Permalink - use to edit and share this gradient. 퍼머링크 - 이 그라디언트를 편집하고 공유하는 데 사용: https://colorzilla.com/gradient-editor/#febbbb+0,fe9090+45,ff5c5c+100;Red+3D+%231 */
  background: linear-gradient(
      to bottom,
      #febbbb 0%,
      #fe9090 45%,
      #ff5c5c 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}
