<html layout:decorate="~{common/layout}">

<div layout:fragment="content">

  <link rel="stylesheet" th:href="@{/css/community/board.css}">


  <div class="board_list_wrap">
    <table class="board_list">
      <caption>
        게시판 목록
      </caption>
      <thead>
      <tr>
        <th>번호</th>
        <th>제목</th>
        <th>글쓴이</th>
        <th>작성일</th>
        <th>조회수</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>10</td>
        <div class="tit_wrap">
          <td class="tit">
            <a href="../vbti/post_view.html">VBTI별 유저 특징</a
            ><span class="comment">&nbsp;&nbsp;&nbsp;[1]</span>
          </td>
        </div>
        <td class="profile"><a href=" ">KangChan</a></td>
        <td>2022-02-22</td>
        <td>12</td>
      </tr>
      <tr th:each="post : ${postList}">

        <td href="" th:text="${post.postNumber}"></td>
        <div class="tit_wrap">
          <td class="tit">
            <a href="/" th:text="${post.subject}"></a
            ><span class="comment" th:text="${post.commentEntityList.size()}"></span>
          </td>
        </div>
        <td class="profile"><a href=" " th:text="${post.author.userNickName}"></a></td>
        <td th:text="${post.createTime}"></td>
        <td>viewPoint</td>
      </tr>

      </tbody>
    </table>
    <a href="../vbti/post.html"
    >
      <button class="sub_btn" type="submit">작성하기</button>
    </a
    >
  </div>

  <div class="paging_wrap">
    <div class="paging">
      <a href="#" class="pbt"><<</a>
      <a href="#" class="pbt"><</a>
      <a href="#" class="nump_on">1</a>
      <a href="#" class="nump">2</a>
      <a href="#" class="nump">3</a>
      <a href="#" class="nump">4</a>
      <a href="#" class="nump">5</a>
      <a href="#" class="pbt">></a>
      <a href="#" class="pbt">>></a>
    </div>
  </div>

  <div id="popup" style="display: none">
    <div id="d_menu">
      <p><a href="">프로필 보기</a></p>
      <p><a href="">게시글 보기</a></p>
      <p><a href="">쪽지 보내기</a></p>
    </div>
  </div>

</div>
</html>
<script th:src="@{js/vbti/board.js}"></script>