<html layout:decorate="~{common/layout}">

<div layout:fragment="content">

  <style>
    .disabled {
      pointer-events: none;
      opacity: 0.6;
    }

  </style>
  <link rel="stylesheet" th:href="@{/css/community/board.css}">

  <div class="board_list_wrap">
    <table class="board_list">
      <caption>
        게시판 목록
      </caption>
      <thead>
      <tr>
        <th>번호</th>
        <th>제목</th>
        <th>글쓴이</th>
        <th>작성일</th>
        <th>조회수</th>
      </tr>
      </thead>
      <tbody>

      <tr th:each="post, loop: ${paging}">

        <!--<td href="" th:text="${post.postNumber}"></td>-->
        <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
        <!--<td th:text="${paging.getTotalElements - (paging.number * paging.size) -loop.count +1}"></td>-->
        <div class="tit_wrap">

          <td class="tit">
            <span class="post_type" th:text="'[' + ${post.postType} + ']'"></span>
            <a th:href="@{|/community/detail/${post.postNumber}|}" th:text="${post.subject}"></a>
            <span class="comment" th:text="'[' + ${post.commentEntityList.size()} + ']'"></span>
          </td>
        </div>
        <td class="profile"><a href=" " th:text="${post.author.userNickName}"></a></td>
        <td th:text="${#temporals.format(post.createTime, 'yyyy-MM-dd HH:mm')}"></td>
        <td th:text="${post.views}"></td>
      </tr>

      </tbody>
    </table>
    <a th:href="@{/community/create}">
      <button class="sub_btn" type="submit">글쓰기</button>
    </a>
  </div>
  <!--페이징 처리-->
  <div th:if="${!paging.isEmpty()}">
    <div class="paging_wrap">
      <div class="paging">
        <a th:href="@{|?page=1|}" class="pbt"><<</a>
        <a class="pbt" th:classappend="${!paging.hasPrevious}?'disabled'"
           th:href="@{|?page=${paging.number-1}|}"><span><</span></a>
        <!--th:classappend="${!paging.hasPrevious} ? 'disabled'" 이전 페이지가 없으면 링크 disabled 클래스 추가-->
        <a th:each="page: ${#numbers.sequence(1, paging.totalPages)}"
           th:if="${page >= paging.number-5 and page <= paging.number+5}"
           th:classappend="${page == paging.number + 1} ? 'nump_on'"
           class="nump" th:text="${page}" th:href="@{|?page=${page}|}">
        </a>
        <a th:classappend="${!paging.hasNext()}?'disabled'" th:href="@{|?page=${paging.number+1}|}"
           class="pbt">></a>
        <a th:href="@{|?page=${paging.totalPages}|}" class="pbt">>></a>
      </div>
    </div>
  </div>

  <!--프로필 보기 모달창-->
  <div id="popup" style="display: none">
    <div id="d_menu">
      <p><a href="">프로필 보기</a></p>
      <p><a href="">게시글 보기</a></p>
      <p><a href="">쪽지 보내기</a></p>
    </div>
  </div>

</div>
</html>
<script th:src="@{js/vbti/board.js}"></script>
