<html layout:decorate="~{common/layout}">
<div layout:fragment="content">
  <link rel="stylesheet" th:href="@{/css/EGG/equipment.css}"/>

  <button type="button" class="navyBtn" onClick="location.href='EggSetAdmin/Team'">팀 등록</button>
  <button type="button" class="navyBtn" onClick="location.href='EggSetAdmin/Mouse'">마우스 등록</button>
  <button type="button" class="navyBtn" onClick="location.href='EggSetAdmin/Monitor'">모니터 등록</button>
  <button type="button" class="navyBtn" onClick="location.href='EggSetAdmin/Gpu'">그래픽카드 등록</button>
  <button type="button" class="navyBtn" onClick="location.href='EggSetAdmin/Mousepad'">마우스패드 등록</button>
  <button type="button" class="navyBtn" onClick="location.href='EggSetAdmin/KeyBoard'">키보드 등록</button>
  <button type="button" class="navyBtn" onClick="location.href='EggSetAdmin/Headset'">헤드셋 등록</button>


</div>
</html>