<html layout:decorate="~{common/layout}">
<div layout:fragment="content">
  <link rel="stylesheet" th:href="@{/css/EGG/equipment.css}"/>
  <div id="modalBtn">
    <button typ="button" id="modal_open">신규 정보 등록</button>
  </div>
  <div id="modal1" tabindex="-1" role="dialog">
    <div class="modal_content">
      <h2>신규 헤드셋 등록 창</h2>
      <form action="/EggSetAdmin/Headset/save" method="post">
        헤드셋 이름: <input type="text" name="headsetName"> <br>
        <input type="submit" value="등록">
        <button type="button" id="modal_close">닫기</button>
      </form>
    </div>
    <div class="modal_layer"></div>
  </div>
  <table>
    <tr>
      <td>헤드셋 고유 ID</td>
      <td>헤드셋 이름</td>
    </tr>
    <tr th:each="board: ${headsetList}">
      <td><div id="modal_update_open"
               th:text="${board.headsetId}"></div></td>
      <td th:text="${board.headsetName}"></td>
    </tr>
  </table>
  <script>
    document.getElementById("modal_open").onclick = function() {
      document.getElementById("modal1").style.display="block";
    }
    document.getElementById("modal_close").onclick = function() {
      document.getElementById("modal1").style.display="none";
    }


  </script>
</div>
</html>