<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>테스트 회원가입</title>
</head>
<body>
<div class="my-3 border-bottom">
  <div>
    <h4>회원가입</h4>
  </div>
</div>
<form th:action="@{/user/signup}" th:object="${siteUserCreateForm}" method="post">
  <div th:replace="~{common/form_errors :: formErrorsFragment}"></div>
  <div class="mb-3">
    <label for="userId" class="form-label">사용자ID</label>
    <input type="text" th:field="*{userId}" class="form-control">
  </div>
  <div class="mb-3">
    <label for="userNickName" class="form-label">사용자 닉네임</label>
    <input type="text" th:field="*{userNickName}" class="form-control">
  </div>
  <div class="mb-3">
    <label for="password1" class="form-label">비밀번호</label>
    <input type="password" th:field="*{password1}" class="form-control">
  </div>
  <div class="mb-3">
    <label for="password2" class="form-label">비밀번호 확인</label>
    <input type="password" th:field="*{password2}" class="form-control">
  </div>
  <div class="mb-3">
    <label for="userEmail" class="form-label">이메일</label>
    <input type="email" th:field="*{userEmail}" class="form-control">
  </div>
  <div>
    <label class="form-label">선호 포지션</label>
    <input type="radio" th:field="*{preferredPosition}" value="타격대">타격대
    <input type="radio" th:field="*{preferredPosition}" value="척후대">척후대
    <input type="radio" th:field="*{preferredPosition}" value="감시자">감시자
    <input type="radio" th:field="*{preferredPosition}" value="전략가">전략가
  </div>
  <button type="submit" class="btn btn-primary">회원가입</button>
</form>
</body>
</html>