<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>발로란트 적성검사</title>
    <link rel="stylesheet" href="css/nav.css" />
    <link rel="stylesheet" href="css/madmovie.css" />
  </head>
  <body>
    <span id="main_logo_text"><a id="logo_link" href="main.html">VBTI</a></span>
    <nav>
      <ul>
        <li><a href="main.html">HOME</a></li>
        <li><a href="board.html">NOTICE</a></li>
        <li><a href="question.html">TEST</a></li>
        <li><a href="madmovie.html">MAD MOVIE</a></li>
      </ul>
    </nav>
    <div id="Q_board_wrap">
      <div id="Q_board">
        <div id="yt_wrap">
          <iframe
            id="yt"
            src="https://www.youtube.com/embed/qb9Sw1NsXa0?autoplay=1"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>
      </div>
      <hr />
      <div id="pb_wrap">
        <img src="images/playButton.png" id="pb_img" />
      </div>
    </div>
  </body>
</html>
