<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>발로란트 적성검사</title>
    <link rel="stylesheet" href="css/nav.css" />
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <div class="main_header_wrap">
      <span id="main_logo_text"
        ><a id="logo_link" href="main.html">VBTI</a></span
      >
      <span id="clock">00:00:00</span>
    </div>
    <nav>
      <ul>
        <li><a href="main.html">HOME</a></li>
        <li><a href="board.html">NOTICE</a></li>
        <li><a href="question.html">TEST</a></li>
        <li><a href="madmovie.html">MAD MOVIE</a></li>
      </ul>
    </nav>
    <div>
      <a id="logo_img_link" href="https://playvalorant.com/ko-kr/"
        ><img
          id="valrorant_logo_img"
          src="images/valrorant_logo.png"
          width="300"
      /></a>
      <h1 id="help_text">발로란트 캐릭터 적성검사 입니다.</h1>
      <a id="start_a" href="question.html">
        <input id="start_button" type="button" value="START"
      /></a>
    </div>

    <footer id="foot">
      <p>제작 : 고강찬</p>
      <address>E-Mail : VBTI@gmail.com</address>
      <p>Copyright &copy; All right reserved</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
    <script src="js/main.js"></script>
    <script src="js/clock.js"></script>
    <script src="js/chncolor.js"></script>
  </body>
</html>
