<html layout:decorate="~{common/layout}">
<div layout:fragment="content">

  <!--  <link rel="stylesheet" th:href="@{/css/vbti/only_test/default.css}"/>-->
  <link rel="stylesheet" th:href="@{/css/vbti/only_test/main.css}"/>
  <link rel="stylesheet" th:href="@{/css/vbti/only_test/qna.css}"/>
  <link rel="stylesheet" th:href="@{/css/vbti/only_test/animation.css}"/>
  <link rel="stylesheet" th:href="@{/css/vbti/only_test/result.css}"/>

  <div class="container">
    <section id="main" class="">
      <!-- pt-5 pb-5 -->
      <h1 id="help_text">발로란트 캐릭터 적성검사 입니다.</h1>
      <div class="">
        <img th:src="@{/assets/vbti/img/valrorant_logo.png}" alt="mainImage"
             class="valorant_test_logo"/>
      </div>
      <p class="test_explanation">
        아래 시작하기 버튼을 눌러 시작해 주십시오.<br/>
        결과를 저장하고 싶다면, 회원가입후 로그인하고 테스트를 진행해주세요.
      </p>
      <button
          type="button"
          class="btn start_button dbPrevent"
          onclick="js:begin()"
      >
        START
      </button>

    </section>
    <section id="qna">
      <div class="status">
        <div class="statusBar"></div>
      </div>
      <div class="qBox"></div>
      <div class="answerBox"></div>
    </section>
    <section id="result">
      <div class="result-wrap">
        <h1>당신의 결과는</h1>
        <div class="resultname"></div>
        <div id="resultImg" class="">
          <!-- <img src="./img/main.png" alt="mainImage" class="img-fluid" /> -->
        </div>
        <div class="resultDesc"></div>
        <form th:action="@{/vbti/resultSave}" method="post" class="result-save-form">
          <input type="hidden" name="testResult" id="hidden_test_result">
          <a class="nav-link logout-save" sec:authorize="isAnonymous()" th:href="@{/user/login}">결과를
            로그인을 하여
            저장하세요.</a>
          <input sec:authorize="isAuthenticated()" class="login-save" type="submit" value="결과 저장하기">
        </form>
        <div th:utext="${resultSavedScript}"></div>
        <!--      th:utext 속성은 HTML을 unescaped로 렌더링 -->
      </div>
    </section>
  </div>
  <script th:src="@{/js/vbti/data2.js}" charset="UTF-8"></script>
  <script th:src="@{/js/vbti/start2.js}" charset="UTF-8"></script>
  <script th:src="@{/js/vbti/preventDoubleClick.js}" charset="UTF-8"></script>
</div>

</html>
